<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"  href="/adminControl/style_add.css">
</head>
<body>
  <!-- HTML form for adding a new dish -->
  <form action="/admin/menu/add" method="post">
    <input type="text" name="menuName" placeholder="Add Name">
    <input type="text" name="menuDescription" placeholder="Description">
    <input type="text" name="price" placeholder="Price">
    <button type="submit">Add Menu</button>
  </form>
</body>
</html>