<head>
    <link rel="stylesheet" type="text/css" href="/adminControl/style_delete.css">
</head>
<!-- HTML form for deleting a room -->
<form action="/admin/menu/delete/<%= menu._id %>?_method=DELETE" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <h2>Delete Dish in Menu</h2>
    <p>Are you sure you want to delete dish <%= menu.menuName %> in Menu?</p>
    <button type="submit">Delete Dish</button>
</form>