<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="/chatstyle.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            Chat Room - <%= roomId %>
        </div>
        <div class="chat-messages" id="messages"></div>
        <div class="chat-form">
            <input id="name" class="form-control" placeholder="Name" type="text">
            <textarea id="message" class="form-control" placeholder="Your Message Here" rows="3"></textarea>
            <button id="send" class="btn btn-primary">Send</button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
</body>
</html>