<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews from other Guests</title>
    <link rel="stylesheet" href="/reviewstyle.css" />
</head>
<body>
    <form action="/" method="get">
        <button type="submit" class="add-room-button">Add Another Review</button>
    </form>
    <h1>Reviews from other Guests</h1>
    <ul>
        <% reviews.forEach(review => { %>
            <li>
                <h3>Name:  <%= review.name %></h3>
                <p>Review:  <%= review.review %></p>
                <p>Rating:  <%= review.rating %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>
