<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"  href="/Room/style_addRoom.css">
</head>
<body>
  <!-- HTML form for adding a new room -->
  <form action="/admin/room/add" method="post">
    <input type="text" name="roomNumber" placeholder="Room Number">
    <input type="text" name="roomType" placeholder="Room Type">
    <input type="text" name="price" placeholder="Price">
    <button type="submit">Add Room</button>
  </form>
</body>
</html>