<head>
  <link rel="stylesheet" type="text/css" href="/Room/style_listRooms.css">
</head>

<!-- Displaying list of rooms -->
<ul>
    <% rooms.forEach(room => { %>
      <li><%= room.roomNumber %> - <%= room.roomType %> - <%= room.price %></li>
    <% }); %>
  </ul>
  