<head>
  <link rel="stylesheet" type="text/css" href="/Room/style_searchRoom.css">
</head>

<!-- HTML form for searching a room by room number -->
<form action="/admin/room/search" method="get">
    <input type="text" name="roomNumber" placeholder="Room Number">
    <button type="submit">Search Room</button>
  </form>
  