<head>
    <link rel="stylesheet" type="text/css" href="../../public/Room/style_showRoom.css">
  </head>  
<!-- Displaying details of a room -->
<h2>Room Details</h2>
<p>Room Number: <%= room.roomNumber %></p>
<p>Room Type: <%= room.roomType %></p>
<p>Price: <%= room.price %></p>
