<head>
  <link rel="stylesheet" type="text/css" href="/Room/style_addRoom.css">
</head>
<!-- HTML form for updating a room -->
<form action="/admin/room/update/<%= room._id %>?_method=PUT" method="post">
    <input type="text" name="roomNumber" value="<%= room.roomNumber %>">
    <input type="text" name="roomType" value="<%= room.roomType %>">
    <input type="text" name="price" value="<%= room.price %>">
    <button type="submit">Update Room</button>
  </form>
  