body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

form {
  margin-bottom: 20px;
}

h2, p, button {
  margin-bottom: 10px;
}

/* Delete button styles */
button[type="submit"] {
  padding: 8px 20px;
  background-color: #d04121; /* Red color for delete button */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button[type="submit"]:hover {
  background-color: #c94945; /* Darker red color on hover */
}  