<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"  href="/adminControl/style_add.css">
</head>
<body>
  <!-- HTML form for adding a new guest -->
  <form action="/admin/guest/add" method="post">
    <input type="text" name="roomNumber" placeholder="Room Number">
    <input type="text" name="guestName" placeholder="Guest Name">
    <button type="submit">Add Guest</button>
  </form>
</body>
</html>